<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>商户管理后台</title>
    #parse('/backStageManage/public/inc/baseres.vm')
</head>
<body>
	<div class="spabg">
		<div class="ui spacontainer">
			<div class="ui segment">
				<h3 class="ui header">
					<i class="settings icon"></i>
					<div class="content">BD与商户关系信息 </div>
				</h3>
			</div>
			<form role="form">
				<table class="ui selectable celled table">
					<tr>
						<td align="center"><b>BD账户信息</b></td>
					</tr>
					<tr>
						<td>BD名称：$!{userBd.name}</td>
					</tr>
					
				</table>
			</form>

			#if($datas)
				<table id="signInfoTables" class="ui selectable celled table">
					<thead>
						
							<th>序号</th>
							<th>企业名称</th>
							<th>手机号</th>
							<th>认证状态</th>
							<th>发布岗位数</th>
							<th>交易成功岗位数</th>
							<th>岗位招聘总人数</th>
							<th>实际招聘总人数</th>
							<th>总交易金额</th>
						
					</thead>
				#foreach($data in $!datas)
						#set($index=$velocityCount - 1)
					<tr>
							<td>$velocityCount</td>
							<td>
							<a href="/backStageManage/show/basic/userMerchantInfo.html?merchantId=$!data.userEnterpriseDto.userId" target="_blank">
							$!data.userEnterpriseDto.companyName
							</a>
							</td>
							<td>
							<a href="/backStageManage/show/basic/userMerchantInfo.html?merchantId=$!data.userEnterpriseDto.userId" target="_blank">
							$!data.merchantId
							</a>
							</td>
							<td>
								#if($stringUtils.equals($data.userMerchantDto.attestCategory,'INIT'))
									<font color="red">未审核</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'PERSON_AUDIT'))
									<font color="green">个人审核中</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'ENTERPRISE_AUDIT'))
									<font color="red">企业审核中</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'PERSON_COMPLETE'))
									<font color="red">个人审核完成</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'ENTERPRISE_COMPLETE'))
									<font color="green">企业审核完成</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'PERSON_RETREAT'))
									<font color="green">个人审核退回</font>
								#elseif($stringUtils.equals($data.userMerchantDto.attestCategory,'ENTERPRISE_RETREAT'))
									<font color="green">企业审核退回</font>
								#end
							</td>
							<td>${postCount[$index]}</td>
							<td>$complatePostCount.get($index)</td>
							<td>${PersonalNum[$index]}</td>
							<td>${reallyPersonalNum[$index]}</td>
							<td>$wage.get($index)</td>
						</tr>
					#end
				</table>
			#else
				<table id="signInfoTables" widtd="80%" class="table table-striped table-bordered table-hover">
					<tr>
						<td>序号</td>
						<th>企业名称</th>
						<th>手机号</th>
						<th>认证状态</th>
						<th>发布岗位数</th>
						<th>交易成功岗位数</th>
						<th>岗位招聘总人数</th>
						<th>实际招聘总人数</th>								
						<th>总交易金额</th>
					</tr>
					<tr><td colspan="9">无</td></tr>
				</table>
		#end
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
	function offlinePost(postId){
		if (!confirm("是否下架，如果有报名用户则赔付10%？")) {
			return;
		}
		$.post('/control/offlinePost.json',{'id':postId},function(result){
			alert(result.message);
			window.location.reload();
		},'json');
	}
</script>
