<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8">
<title>没事找事管理系统</title>
<link rel="stylesheet" type="text/css" href="./semantic/semantic.css">
<link rel="stylesheet" type="text/css" href="./css/improve.css">
<script type="text/javascript" src="./lib/jquery.2.0.js"></script>
<script type="text/javascript" src="./semantic/semantic.js"></script>
</head>
<body id="index">
    <div class="page-slidebar">
        <div class="ui visible inverted left vertical sidebar accordion menu">
            <div class="item">
                <a class="ui logo icon image" href="/"> <img
                    src="./images/logo.png" width="40px">
                </a> <a href="/"><b>事亲用户中心</b></a>
            </div>
            #foreach($userModule in $userModuleTree)
                <div class="item">
                    #if(!$userModule.parentId)
                        <a class="title"><i class="dropdown icon"></i><b>$userModule.moduleName</b></a>
                        #if($userModule.userModuleDtos)
                            <div class="content menu">
                            #foreach($moduleDto in $userModule.userModuleDtos)
                                <a class="item" href="$moduleDto.moduleUrl">$moduleDto.moduleName</a> 
                            #end
                            </div>
                        #end
                    #end
                </div>
            #end
        </div>
    </div>
    <div class="main">
        <div class="page-center ui segment">
            #parse('user/userModuleList.vm');
        </div>
    </div>
    <script type="text/javascript">
        $('.ui.accordion').accordion();
    </script>
</body>
</html>