#parse('/backStageManage/public/TOP.vm')
<link rel="stylesheet" type="text/css" href="/backStageManage/ui/css/components/datepicker.css">
<link rel="stylesheet" type="text/css" href="/backStageManage/ui/css/components/form-file.css">
<script type="text/javascript" src="/backStageManage/js/uitl.js"></script>
<script type="text/javascript" src="/backStageManage/js/system.js"></script>
<script type="text/javascript" src="/backStageManage/lib/layPage/laypage.dev.js"></script>
<script type="text/javascript" src="/backStageManage/js/searchPage.js"></script>
<div class="main">
    <!-- 头部搜索条件  -->
    <div class="page-center ui segment">
		<div class="ui dividing header">
          <i class="user icon"></i>
          <div class="content">
            交易记录列表
          </div>
          </div>
         <form class="ui mini form" action="" method="get" name="search">
            <div class="fields">
                <div class="field">
                    <label>交易人手机号</label>
                    #if($!phone)
                    <input type="text" placeholder="支持模糊查询" value="$!{phone}" name="phone">
                    #else
                    <input type="text" placeholder="支持模糊查询" name="phone">
                    #end
                </div>
                <div class="field">
                    <label>操作</label>
                    <div class="ui buttons">
                      <button class="ui button instagram" type="submit"> 查询 </button>
                      <div class="or" data-text="或"></div>
                      <button class="ui button" onclick="$('form').form('clear');">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 按钮中心 -->
    <div class="ui page-center page-list">
        <div class="ui active inverted dimmer page-loading">
            <div class="ui large text loader">加载中</div>
        </div>
        <div class="ui" style="min-height:400px;-webkit-transition:height .5s;">
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>序列号</th>
                        <th width="160">订单号</th>
						<th>用户</th>
						<th>岗位标题</th>
						<th>交易金额</th>
						<th width="200">交易描述</th>
						<th>创建时间</th>
						<th>操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
     <!-- 底部按钮 -->
    <div class="page-center ui segment">
        <div id="page" class="ui">
        </div>
        <div class="clear"></div>
    </div>
<script type="text/html" id="list" >
    {{each datas as v}}
        <tr data-id="{{v.tradeNo}}">
            <td>{{v.tableTitle}}</td>
			<td>{{v.tradeNo}}</td>
            <td><a href="/backStageManage/show/basic/userMerchantInfo.html?merchantId={{v.userId}}" target="_blank"> {{v.companyName}}</a></td>
            <td><a href="/backStageManage/show/basic/postInfo.html?id={{v.postId}}" target="_blank">{{v.postTitle}}</a></td>
            <td>{{v.amount}}</td>
            <td>{{v.desc}}</td>
            <td>{{v.createTime}}</td>
			<td>
				#if(${deletePostTradeRecord})
				<button class="ui circular red mini button deletePostTrade"><i class="remove user icon"></i>删除</button>
            	#end
			</td>
        </tr>
    {{/each}}
</script>

<div class="ui small modal" id="adduser">
</div>
<script type="text/javascript">
    ;(function(){
        thisLaypage({
            url: '/back/getPostTradeRecordListByPage.json',
            resolve: function(res){
                for( var i=0; i<res.datas.length; i++ ){
                    res.datas[i].createTime = (new Date(res.datas[i].createTime)).Format('yyyy-MM-dd');
                }
                console.log(res);
                return res;
            }
        });
    })();
</script>   
<!-- modal 删除确认 -->
<script type="text/html" id="postTradeDelete">
    <div class="header">
        用户名：“{{companyName}}” 
    </div>
    <div class="content">
        <div class="ui negative icon message">
            <i class="remove icon"></i>
            <div class="content">
                <div class="header">确认删除该条消息？ </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui right red labeled icon button submit-deletePostTrade">
            删除
            <i class="checkmark icon"></i>
        </div>
    </div>
</script>

<script type="text/javascript">
    ;(function(){

        //当前的id
        var g_id = '';

        //弹出框
        var modal = $("#adduser");
        var $modal = $("#adduser");
		var main=$(".main");
        //删除用户
        main.on('click', ".deletePostTrade",function(){
            var id = $(this).parents('tr').attr('data-id');
            g_id = id;
            var companyName = $(this).parents('tr').find('td').eq(2).text();
            var data = {};
                data.companyName = companyName;
            var _html = template('postTradeDelete', data);
            $modal.html(_html);
            $modal.modal('show');
        });

        //调制页面
        $('#gopage a').on('click', function(){
            var page = $('#gopage').find('input[name=currPage]').val();
            if( page ){
                window.location.href="?currPage="+page;
            }
        });

        //确认删除用户
        $(document).on('click', ".submit-deletePostTrade", function(){
            var param = {};
            param.id = g_id;
            $.post('/back/deletePostTradeRecord.json', param, function(json){
                if(json && json.status == "successful"){
                    sublitsuccess(json.message);
                }else{
                    errormessage($('input,select'), json.message);
                    submiterror();
                }
            }, 'json');
        });
        
        //报错弹窗
        function errormessage (field, message){
            field.parents(".field").addClass('error');
            field.parents('form').addClass('error');
            field.parents('form').find('.ui.error.message').html('<ul class="list"><li>'+ message +'</li></ul>');
        }

        //清除报错
        function clearerror(form){
            form.removeClass('error');
            form.find('.field').removeClass('error');
            form.find('.ui.error.message').html('');
        }

        //正在提交
        function submiting(){
            var str = '<div class="ui icon message submiting"><i class="notched circle loading icon"></i><div class="content"><div class="header">稍候 </div><p>我们正在为您获取内容。</p></div></div>';
            modal.find('.content form').hide();
            modal.find('.content').append(str);
            modal.find('.submit').hide();
        }

        //提交报错
        function submiterror(){
            modal.find('.content form').show();
            modal.find('.submiting').remove();
            modal.find('.submit').show();
        }

        //提交成功
        function sublitsuccess(message){
            modal.find('.actions').remove();
            modal.find('.content').html('<div class="ui icon message"><i class="inbox icon"></i><div class="content"><div class="header">'+ message +' </div><p>页面即将重新加载!</p></div></div>');
            setTimeout(function() {
                window.location.reload();
            }, 1000);
        }
    })();
    require(['uikit!semantic-paginaction'], function(uikit){
        $('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex){
            window.location.href="?currPage="+(pageIndex+1);
        });
    });
</script>

#parse('/backStageManage/public/BOTTOM.vm')

