<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改收费项目</title>
<link type="text/css" href="${contextPath}/css/main.css" rel="stylesheet" />
</head>
<body>
<form action="#" method="post">
  <!-- 此处使用隐藏域将收费项的Id保存起来 -->
 <input type="hidden" name="feeId" value="1" />
  <table width="70%" border="0" cellpadding="3" cellspacing="1" bgcolor="#464646" class="newfont03" align="center">
  <caption class="tablestyle_title">收费项设置-->编辑收费项目</caption>
  <tr>
   <td width="30%" align="right">收费项目:</td>
   <td width="30%">${(fees.feeName)!''}</td>  
   <td width="40%">&nbsp;</td>
   </tr>
   <tr>
   <td width="30%" align="right">收费标准(每月最低收费):</td>
   <td width="30%"><input type="text" name="cost" class="text" style="width:154px"  value="${(fees.fee)!''}"/></td>  
   <td width="40%"><span style="color:red; display: none;">*收费标准必须填写，且必须是数字！</span></td>  
   </tr>
      <tr>
   <td width="30%" align="right">收费周期(以月计):</td>
   <td width="30%"><input type="text" name="receDate" class="text" style="width:154px" value="${(fees.feeReceDate)!''}" /></td>  
   <td width="40%"><span style="color:red; display: none;">*收费周期必须填写，且必须是数字！</span></td>  
   </tr>
   <tr>
   <td colspan="3" align="center">
     <input type="submit" style="width:63px; height:20px; border:none; background-image:url(${contextPath}/images/btnSubmit.gif)" value="保 存"/>
          <input type="reset" style="width:63px; height:20px; border:none; background-image:url(${contextPath}/images/btnSubmit.gif); margin-left:15px;" value="取 消"/>
   </td>
   </tr>
  </table>
  </form> 	
</body>
</html>
