<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>收费项设置</title>
<link type="text/css" href="../css/main.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="../js/datePicker/WdatePicker.js"></script>
<script type="text/javascript">

	function deleteMany(){
		  document.getElementById("feeForm").submit();
	}
</script>
</head>
<body>

<form  action="${contextPath}/feeItem/deleteMany"  id="feeForm"   method="post">
 <table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#464646" class="newfont03" align="center">
  <caption class="tablestyle_title">收费项设置-->所有收费项目列表</caption>
  <tr class="firstRow">
   <td width="8%">选择</td>
   <td width="10%">编号</td> <td  width="15%">收费项目</td>
   <td  width="23%">收费标准<br/>(每月最低收费)</td><td  width="12%">收费周期<br/>(以月计)</td>
   <td  width="20%">创建日期</td><td>编辑</td>
  </tr>
  
  <#list feelist as fees>
	  <tr class="cont">
	  <td><input type="checkbox" name="delid" value="${(fees.feeId)!''}" /></td>
	  <td>${(fees.feeId)!''}</td>  <td>${(fees.feeName)!''}</td><td>${(fees.fee)!''}</td><td>${(fees.feeReceDate)!''}</td><td>${(fees.createDate)!''}</td>
	  <td>   <div class="editData"> <img src="../images/edit.gif"  style="border:none;" /><a href="${contextPath}/feeItem/updateFeeItem/${(fees.feeId)!''}" class="right-font08">编辑</a></div></td>
	  </tr>
  </#list>
  
  <tr>
   <td colspan="7">
     <img src="../images/delete.gif"  style="border:none; margin-left:60px; margin-right:10px;" /><a href="javascript:deleteMany();" class="right-font08"  onclick="return confirm('确定删除选中项吗？');">删除选中的收费项目</a>
   </td>
  </tr>
  </table>
  </form>
  <div style="margin-top:2px; margin-left:auto; margin-right:auto; width:90%; height:auto;">
    <fieldset style="border:1px solid #476D90">
     <legend style="color:#FFF">收费项设置-->添加收费项目</legend>
     
  <form action="${contextPath}/feeItem/addFeeItem" method="post">
     
      <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#464646" class="newfont03" align="center">
  <tr>
   <td width="30%" align="right">收费项目:</td>
   <td width="30%"><input type="text" name="tb_feeItem.feeName" class="text" style="width:154px" /></td>  
   <td width="40%"><span  style="color:red;">*收费项目必须填写！</td>
   </tr>
   <tr>
   <td width="30%" align="right">收费标准(每月最低收费):</td>
   <td width="30%"><input type="text" name="tb_feeItem.fee" class="text" style="width:154px"  /></td>  
   <td width="40%"><span style="color:red;">*收费标准必须填写，且必须是数字！</span></td>  
   </tr>
      <tr>
   <td width="30%" align="right">收费周期(以月计):</td>
   <td width="30%"><input type="text" name="tb_feeItem.feeReceDate" class="text" style="width:154px" /></td>  
   <td width="40%"><span style="color:red;">*收费周期必须填写，且必须是数字！</span></td>  
   </tr>
      <tr>
   <td width="30%" align="right">创建日期</td>
   <td width="30%"><input type="text" name="tb_feeItem.createDate" class="text" style="width:154px" onClick="WdatePicker()" onchange="WdatePicker()"/></td>  
   <td width="40%"><span style="color:red;">*创建日期必须填写！</span></td>  
   </tr>
   <tr>
   <td colspan="3" align="center">
     <input type="submit" style="width:63px; height:20px; border:none; background-image:url(../images/btnSubmit.gif)" value="保 存"/>
          <input type="reset" style="width:63px; height:20px; border:none; background-image:url(../images/btnSubmit.gif); margin-left:15px;" value="取 消"/>
   </td>
   </tr>
  </table>
 
 </form>
 
    </fieldset>
  </div>
</body>
</html>
