.table-add{float:right;width:100px;}
.common-btn{border:none;padding:0 0px;padding-right:5px;background-color:#47ACF0;color:#ffffff;width:80px;height:25px;line-height:25px;font-size:14px;text-align:center;}
.jquery-dialog{margin-top:100px;}
.add-data-table th{text-align: right;width:30%;}
.add-data-table td{text-align: left;height:35px;}
