<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<title>没事找事后台管理</title>
		#parse('/control/common/common-head.vm')
		<style>
			.table-form th{width:7%;text-align:right;}
		</style>
	</head>

	<body>
		<!-- 左侧导航结束 -->
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="javascript:;">首页</a>
				</li>
				<li>
					<a href="/control/userManager/configList.html">配置列表</a>
				</li>
			</ul><!-- .breadcrumb -->

			<div class="nav-search" id="nav-search">
			</div><!-- #nav-search -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1 class="image-h1">
					<a href="/control/userManager/configList.html">配置列表</a>
					<small>
						<i class="icon-double-angle-right"></i>
						用户端banner配置
					</small>
				</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
				<form id="dataForm" class="form-horizontal" role="form">
					#foreach($banner in $banners)
					<table class="table-form table table-striped table-bordered table-hover">
						<tr>
							<th><a class="red" title="删除" onclick="deleteBanner(this)" href="javascript:;"><i class="icon-trash bigger-130"></i></a></th>
						</tr>
    					<tr>
							<th style="vertical-align:middle;">轮播图</th>
							<td colspan="3" style="vertical-align:middle;">
								<input type="text" class="col-xs-6 bannerImage" value="$!banner.bannerImage" />
							</td>
						</tr>
						<tr>
							<th style="vertical-align:middle;">链接地址</th>
							<td colspan="3" style="vertical-align:middle;">
								<input type="text" class="col-xs-6 bannerUrl" value="$!banner.bannerUrl" />
							</td>
						</tr>
						<tr>
							<th style="vertical-align:middle;">文案</th>
							<td colspan="3" style="vertical-align:middle;">
								<input type="text" class="col-xs-6 bannerDesc" value="$!banner.bannerDesc" />
							</td>
						</tr>
					</table>
					#end
				</form>
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-inverse add-banner" type="button">
							<i class="bigger-110">+</i>
							新增
					</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn btn-info" type="button" id="submit">
							<i class="icon-ok bigger-110"></i>
							提交
						</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</body>
</html>

<script>
	$('.add-banner').click(function(){
		var addHtml = $('#template').html();
		$('#dataForm').append(addHtml);
	});
	
	function deleteBanner(obj){
		$(obj).parents('table').remove();
	}
	
	//提交按钮绑定事件
	$('#submit').click(function(){
		var bannerImages = $('.bannerImage');
		var bannerUrls = $('.bannerUrl');
		var bannerDescs = $('.bannerDesc');
		var data = new Array();
		for(var i=0;i<bannerImages.length;i++){
			data.push({bannerImage:$(bannerImages).eq(i).val(),bannerUrl:$(bannerUrls).eq(i).val(),bannerDesc:$(bannerDescs).eq(i).val()});
		}
		console.log(JSON.stringify(data));
		$.ajax({
			type: "POST",
			url: "/back/config/updateBanners.json",
			data: JSON.stringify(data),
			dataType: 'json',
			contentType:"application/json",
			success: function(data){
				alert(data.message);
    			if(data.status == 'successful'){
    				reload();
    			}
			},
			error: function(json){
			}
		});
	});
</script>

<script id="template" type="text/html">
	<table class="table-form table table-striped table-bordered table-hover">
		<tr>
			<th><a class="red" title="删除" onclick="deleteBanner(this)" href="javascript:;"><i class="icon-trash bigger-130"></i></a></th>
		</tr>
    	<tr>
			<th style="vertical-align:middle;">轮播图</th>
			<td colspan="3" style="vertical-align:middle;">
				<input type="text" class="col-xs-6 bannerImage" value="" />
			</td>
		</tr>
		<tr>
			<th style="vertical-align:middle;">链接地址</th>
			<td colspan="3" style="vertical-align:middle;">
				<input type="text" class="col-xs-6 bannerUrl" value="" />
			</td>
		</tr>
		<tr>
			<th style="vertical-align:middle;">文案</th>
			<td colspan="3" style="vertical-align:middle;">
				<input type="text" class="col-xs-6 bannerDesc" value="" />
			</td>
		</tr>
	</table>
</script>

<link rel="stylesheet" href="/resources/css/jquery-ui-1.10.3.full.min.css" />

