<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统说明</title>
<link type="text/css" href="../css/main.css" rel="stylesheet" />

</head>
  
  <body>
        <div style="width:600px; hegiht:60px ;margin-left: 28%">
          <h3 style="color: #FFFAFA;font-size:x-large;margin-left: 18%"">欢迎使用本系统</h3>
          	<ul style="color:#FFEBCD;font-size:large;">
          		<li>本系统致力于打造先行于行业的智慧生活社区。</li>
          		<li>相信您的选择，我们的技术。</li>
          	</ul>
          	<table style="color:#FFEBCD;text-align: center;">
          		<tr>
          			<td colspan="7" bgcolor="#9F79EE">管理员</td>
          		</tr>
          		<tr>
          			<td bgcolor="#A6A6A6">系统管理</td><td>基础数据</td>
          			<td bgcolor="#A6A6A6">保修单管理</td><td>投诉单管理</td>
          			<td bgcolor="#A6A6A6">业主缴费</td><td>缴费金额统计</td>
          			<td bgcolor="#A6A6A6">安全设置</td>
          		</tr>
         		
         		<tr>
          			<td colspan="7" bgcolor="#9F79EE">工作人员</td>
          		</tr>
          		<tr>
          			<td> </td><td>基础数据</td>
          			<td bgcolor="#A6A6A6">保修单管理</td><td>投诉单管理</td>
          			<td bgcolor="#A6A6A6">业主缴费</td>
          			<td> </td>
          			<td bgcolor="#A6A6A6">安全设置</td>
          		</tr>
          		
          		<tr>
          			<td colspan="7"  bgcolor="#9F79EE">业主</td>
          		</tr>
          		<tr>
          			<td> </td>
          			<td> </td><td> </td>
          			<td>服务中心</td>
          			<td> </td>
          			<td> </td>
          			<td  bgcolor="#A6A6A6">安全设置</td>
          		</tr>
          	</table>
        </div>
  </body>
</html>

