<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>业主信息</title>
<link type="text/css" href="${contextPath}/css/main.css" rel="stylesheet" />
<script type="text/javascript">
//改变每页的条数
function turnPage(pageSize){
   window.location="${contextPath}/ownerDetail/1-"+pageSize;
}
</script>
</head>
<body>
<table width="97%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03" align="center">
  <caption class="tablestyle_title">基础数据-->业主信息列表</caption>
                  <tr class="firstRow">
				    <td width="10%">
                    业主姓名</td>
                    <td width="19%" height="20">所住楼栋</td>
                     <td width="8%">所在楼层</td>
                    <td width="8%">所在单元</td>
                    <td width="8%">门牌号</td>
                    <td width="18%">身份证号</td>
                    <td width="13%">联系电话</td>
                    <td>入住日期</td>
                  </tr>
                  <#list pager.list as ow >
                  <tr  class="cont">
				    <td bgcolor="#FFFFFF">${ow.realName}</td>
                    <td>${ow.buildingName}</td>
                   <td bgcolor="#FFFFFF">${ow.houseFloor}</td><td>${ow.houseUint}</td><td>${ow.houseNumber}</td>
                    <td>${ow.cardId}</td><td>${ow.telephone}</td>
                    <td>${ow.enterDate}</td>
                  </tr>
                 </#list>
                  <tr>
                   <td colspan="8"  class="right-font08">
            <div class="showPage">
                第 <span class="right-text09">${pager.pageNumber}</span> 页 |共 <span 

class="right-text09">${pager.totalPage}</span> 页 |
                每页<select name="pageSize" onchange="turnPage(this.value)">
              <!-- 每页条数与option中的值相同时，这一项要选中 -->
               <#if pager.pageSize ==5>
                     <option value="5" selected="selected">5</option> 
                      <option value="8">8</option>  
                    <option value="10">10</option> 
                      <option value="15">15</option>
                 <#elseif pager.pageSize ==8>
                      <option value="5">5</option> 
                      <option value="8" selected="selected">8</option>  
                    <option value="10">10</option> 
                      <option value="15">15</option>
                   <#elseif pager.pageSize ==10>
                      <option value="5">5</option> 
                      <option value="8">8</option>  
                    <option value="10" selected="selected">10</option> 
                      <option value="15">15</option>
                        <#else>
                      <option value="5">5</option> 
                      <option value="8" selected="selected">8</option>  
                    <option value="10">10</option> 
                      <option value="15" selected="selected">15</option> 
               </#if>
        
            
                </select>条
               </div>  
                 <div class="showPage">
                 [<a href="${contextPath}/ownerDetail/1-${pager.pageSize}" class="right-font08">

首页</a> | 
                 <#if pager.pageNumber &gt; 1>
                    <a href="${contextPath}/ownerDetail/${pager.pageNumber-1}-${pager.pageSize}" 

class="right-font08">上一页</a> 
                 <#else>
                                                          上一页 
                 </#if>
                 | 
                  <#if pager.pageNumber &lt; pager.totalPage>
                    <a href="${contextPath}/ownerDetail/${pager.pageNumber+1}-${pager.pageSize}" 

class="right-font08">下一页</a> 
                 <#else>
                                                          下一页 
                 </#if>
                | <a href="${contextPath}/ownerDetail/${pager.totalPage}-${pager.pageSize}" 

class="right-font08">末页</a>]
                 </div>
                  </td>
                  </tr>
                </table>
</body>
</html>

