<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>楼栋信息</title>
<link type="text/css" href="${contextPath}/css/main.css" rel="stylesheet" />
</head>
<body>
<table width="90%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03" align="center">
  <caption class="tablestyle_title">基础数据-->楼栋信息列表</caption>
                  <tr class="firstRow">
				    <td width="8%">
                    楼栋编号</td>
                    <td width="20%" height="20">楼栋名称</td>
                    <td width="8%">楼层数</td>
                    <td width="8%">单元数</td>
                    <td width="10%">房屋套数</td>
                    <td width="10%">入住套数</td>
                    <td>开发商联系信息</td>
                  </tr>
                  <#list buildingList as bl>
                  <tr  class="cont">
				    <td bgcolor="#FFFFFF">${bl.buildingId}</td>
                   <td bgcolor="#FFFFFF">${bl.buildingName}</td><td>${bl.floorNumber}</td><td>${bl.unitNumber}</td>
                    <td>${bl.houseSeries}</td><td>${bl.livingNumber}</td>
                    <td>${bl.developer}</td>
                  </tr>
                  </#list>
                </table>
</body>
</html>
