<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="BackUser">
	<!-- 别名 -->
	<typeAlias alias="BackUser" type="caideli.bean.BackUser" />
	<!-- 配置对象映射 -->
	<resultMap class="BackUser" id="BackUserResult">
		<result property="id" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="status" column="status" />
	</resultMap>
	<!-- 查询内容 -->
	<sql id="BackUser_common_columns">
		a.user_id,
		a.user_name,
		a.user_password,
		a.status
	</sql>
	<!-- 查询条件 -->
	<sql id="BackUser_common_condition">
		<isNotEmpty property="id">
			and a.user_id=#id#
		</isNotEmpty>
		<isNotEmpty property="userName">
			and a.user_name = #userName#
		</isNotEmpty>
		<isNotEmpty property="userPassword">
			and a.user_password = #userPassword#
		</isNotEmpty>
		<isNotEmpty property="status">
			and a.status = #status#
		</isNotEmpty>
		
	</sql>
	<!-- 条件查询 -->
	<select id="query" resultMap="BackUserResult">
		SELECT
		<include refid="BackUser_common_columns" />
		FROM
		back_user a
		WHERE 1=1
		<include refid="BackUser_common_condition" />
	</select>
	<!-- 据id查询 -->
	<select id="query_id" resultMap="BackUserResult" parameterClass="Long">
		SELECT
		<include refid="BackUser_common_columns" />
		FROM
		back_user a
		WHERE 1=1 and a.user_id=#id#
		ORDER BY a.user_id DESC
	</select>
	<!-- 数量 -->
<select id="count" resultClass="Integer">
		SELECT COUNT(*) FROM back_user a WHERE 1=1 <include refid="BackUser_common_condition" /> 
	</select>
	<!-- 添加 -->
	<insert id="add" parameterClass="BackUser" >
		INSERT INTO 
			back_user (
				user_name,
				user_password,
				status
			) 
			VALUES (
				#userName#,
				#userPassword#,
				#status#
			)
		<selectKey resultClass="Long" keyProperty="id"> 
			SELECT @@IDENTITY AS user_id  
		</selectKey>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterClass="BackUser">DELETE FROM back_user WHERE user_id=#id#</delete>
	<!-- 修改 -->
	<update id="update" parameterClass="BackUser">
		UPDATE back_user SET
			<isNotEmpty property="id">id=#user_id#</isNotEmpty>
			<isNotEmpty property="userName" prepend=",">userName=#user_name#</isNotEmpty>
			<isNotEmpty property="userPassword" prepend=",">userPassword=#user_password#</isNotEmpty>
			<isNotEmpty property="status" prepend=",">status=#status#</isNotEmpty>
		WHERE user_id=#id#
	</update>
</sqlMap>